<!doctype html>
<html>
    <head>
        <title>Puma Dashboard</title>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Puma Dashboard</h1>
        <div class="container">
            <h2 class="menu" id="info-bar">Info</h2>
            <div>
                <a href="#" onclick="displayInfo('instances')" >Instances</a>
                <br />
                <a href="#" onclick="displayInfo('images')">Images</a>

                <span id='info-area'>
                </span>
            </div>

            <h2 class="menu" id="account-bar">Account</h2>
            <div>
                Account stuff will go here
            </div>

            <h2 class="menu" id="projects-bar">Projects</h2>
            <div>
                project stuff will go here
            </div>
        </div>
    </body>
</html>

